*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.right-section{
    height: 100%;
    min-height: 400px;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/cute-animals-group-white-background_23-2150038562.jpg?w=900&t=st=1697560434~exp=1697561034~hmac=adeaff11be6d6d54667601ceff1f83286d4f2f124c5ddce35a582a593ba59d6e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-form{
    padding-top: 30px;
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffffc0;
    box-shadow: 4px 4px 4px 4px #ececec;
}
.heading{
    font:1.5em sans-serif;
    font-weight: bold;
    color: #626262;
}
.text1{
    width: 90%;
    font:1em sans-serif;
    font-weight: bold;
    color: #323232;
    
}
.input{
    font:1em sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
    width: 90%;
    height: 8%;
    border-radius: 5px;
    border: none;
    background-color: #ececec;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
    outline: none;
}
input:focus{
    box-shadow: 0px 0px 3px 3px #8cc0fa;
    background-color: #FFFF;
    outline: none;
}
@media only screen and (max-width: 699px) {
   
    .pet-form{
        width: 60%;
        height: 48%;
        min-height: 500px;
    }
}
button{
    margin: auto;
    width: 27%;
    height: 7%;
    border: none;
    border-radius: 5px;
    color:#ffff;
    background:linear-gradient(45deg,#1f86fc , #1d55ce);
}
button:hover{
    cursor: pointer;
}
.btn2{
    color: black;
    background:linear-gradient(45deg,#ebebeb , #ececec);
}